.item-details__chips {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size-2);
    margin-bottom: 1rem;
}

.item-details__chips__group__title {
    font-size: 0.75rem;
    margin-bottom: -2px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.dark-theme .item-details__chips__group__title {
    color: rgba(255, 255, 255, 0.7);
}

.item-details__chips .rating {
    line-height: 1;
}

.chips-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size-2);
}

.chip {
    display: block;
    padding: 4px 12px;
    font-size: 0.75rem;
    background-color: rgba(226, 235, 255, 0.25);
    color: #8bb3ff;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid rgba(100, 150, 255, 0.4);
    transition: all 0.2s ease;

    .dark-theme & {
        background-color: rgba(255, 255, 255, 0.4);
        color: #000000;
        border-color: rgba(0, 0, 0, 0.2);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.6);
        border-color: rgba(0, 0, 0, 0.9);
    }
}

.chip.chip--alternate {
    background-color: rgba(255, 165, 0, 0.1);
    color: #ffa500;
    border-color: rgba(255, 165, 0, 0.2);

    .dark-theme & {
        background-color: var(--clr-purple-700);
        color: var(--clr-purple-300);
    }
}
