.table {
    --table-border-width: 1px;
    --table-border-color: rgba(255, 255, 255, 0.1);
    --table-row-hover-clr: rgba(255, 255, 255, 0.03);
    --table-small-clr: rgba(255, 255, 255, 0.5);
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
}

.dark-theme .table {
    --table-row-hover-clr: rgba(255, 255, 255, 0.05);
    --table-border-color: rgba(255, 255, 255, 0.1);
    --table-small-clr: rgba(255, 255, 255, 0.5);
}

.table td {
    padding: .5rem;
    box-shadow: inset var(--table-border-width) calc(var(--table-border-width) * -1) 0 0 var(--table-border-color);
}

.table tr:last-child td {
    box-shadow: inset var(--table-border-width) 0 0 0 var(--table-border-color);
}

.table td:first-child {
    box-shadow: inset 0 calc(var(--table-border-width) * -1) 0 0 var(--table-border-color);
}

.table td:first-child {
    box-shadow: inset 0 calc(var(--table-border-width) * -1) 0 0 var(--table-border-color);
}

.table tr:last-child td:first-child {
    box-shadow: none;
}

.table th {
    font-weight: 600;
    font-size: 0.85rem;
    padding: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.03);
}

.table tr:hover td {
    background-color: var(--table-row-hover-clr);
}

.table td small {
    color: var(--table-small-clr);
    line-height: 1.4;
    display: block;
}
